.button {
  width: 100%;
  margin: 5px;
  background: darkblue;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}

.button:disabled {
  width: 100%;
  margin: 5px;
  background: #888;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: not-allowed;
}
